@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 60 14% 96%;
    --foreground: 20 14% 4%;
    --card: 60 14% 96%;
    --card-foreground: 20 14% 4%;
    --popover: 60 14% 96%;
    --popover-foreground: 20 14% 4%;
    --primary: 190 31% 41%;
    --primary-foreground: 60 14% 96%;
    --secondary: 190 15% 90%;
    --secondary-foreground: 190 31% 41%;
    --muted: 190 15% 94%;
    --muted-foreground: 20 14% 40%;
    --accent: 83 27% 50%;
    --accent-foreground: 60 14% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 15% 88%;
    --input: 190 15% 88%;
    --ring: 190 31% 41%;
    --chart-1: 190 31% 41%;
    --chart-2: 83 27% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 14% 96%;
    --card: 20 14% 4%;
    --card-foreground: 60 14% 96%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 14% 96%;
    --primary: 190 31% 41%;
    --primary-foreground: 60 14% 96%;
    --secondary: 190 15% 10%;
    --secondary-foreground: 60 14% 98%;
    --muted: 190 15% 10%;
    --muted-foreground: 60 14% 60%;
    --accent: 83 27% 50%;
    --accent-foreground: 60 14% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 15% 12%;
    --input: 190 15% 12%;
    --ring: 190 31% 41%;
    --chart-1: 190 31% 41%;
    --chart-2: 83 27% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: hsl(var(--background));
    background-image:
      linear-gradient(hsl(var(--border)) 0.5px, transparent 0.5px),
      linear-gradient(to right, hsl(var(--border)) 0.5px, transparent 0.5px);
    background-size: 30px 30px;
  }

  next-dev-tool {
    display: none !important;
  }
}
